script(type='text/javascript', src='/adminlte/plugins/jquery/jquery.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/dist/js/adminlte.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')